.loginPage{
    width: 400px;
    height: 500px;
    background: rgba(52, 113, 227, 0.3);
    position: relative;
    justify-content: center;
    text-align: center;
    align-items: center;
    top: 50%;
    left: 35%;
    transform: translate(-50% -30%);
    margin-top: 80px;
}
.loginPage h1{
    position: relative;
    font-size: 40px;
    font-family: sans-serif;
    font-weight: 600;
    border-bottom: 2px solid black;
    display: inline;
}
.loginForm{
    position: relative;
    width: 300px;
    height: 350px;
    margin-top: 60px;
    display: block;
    justify-content: center;
    text-align: center;
    align-items: center;
    left: 12%;
    border: 1px solid rgba(255, 255, 255, .5);
}
.textClass{
    width: 90%;
    height: 30px;
    margin: 10px 0px;
    outline: none;
    text-align: left;
    border: none;
    font-size: 16px;
    padding: 2px 10px;
    color: rgb(70, 70, 206);
}
.loginBtn{
    margin-top: 20px;
    width: 90%;
    height: 40px;
    background: #ce352c;
    color: white;
    font-size: 22px;
    outline: none;
    border: none;
    transition: all 200ms ease ;
    cursor: pointer;
}
.loginBtn:hover{
    background: #0dbb56;
    transition: 0.2s;
}
.loginBtn:hover:active{
    background: #2ecc71;
    color: #fff;
    font-size: 23px;
    width: 95%;
}